@model ViaBikeRack.Models.BikeRackModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #map {
        height: 600px;
        width: 100%;
    }

    .btn-color-toggle {
        /*background-color: green;*/
        height: 100px;
        width: 300px;
    }

    .color-change-red {
        background-color: darkred;
    }

    .color-change-green {
        background-color: green;
    }
</style>



@*<div class="container" style="background-color:darkred;">
        <div class="row">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-3" style="background-color:white;">
                <img src="~/Images/VIA_Metropolitan_Transit_logo_small.png" class="img-responsive" />
            </div>
            <div class="col-sm-6">

            </div>
        </div>
    </div>*@







@Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)








    <div class="row">
        <div class="col">

            @*FIRST BIKE RACK*@
            <div class="col">
                @Html.LabelFor(model => model.IsActive_Bike_Rack_1)
                <div class="btn">
                    @if (Model.IsActive_Bike_Rack_1 == true)
                    {
                        <span class="btn-danger" style="font-size:20px; padding:5px; border-radius: 10px;">
                            <text>Occupied</text>
                        </span>
                    }
                    else
                    {
                        <span class="btn btn-success" style="font-size:20px; border-radius: 10px;">
                            <text>Unoccupied</text>
                        </span>
                    }
                </div>

            </div>


            @*SECOND BIKE RACK*@
            <div class="col">
                @Html.LabelFor(model => model.IsActive_Bike_Rack_2)
                <div class="btn">
                    @if (Model.IsActive_Bike_Rack_2 == true)
                    {
                        <span class="btn-danger" style="font-size:20px; padding:5px; border-radius: 10px;">
                            <text>Occupied</text>
                        </span>
                    }
                    else
                    {
                        <span class="btn btn-success" style="font-size:20px; border-radius: 10px;">
                            <text>Unoccupied</text>
                        </span>
                    }
                </div>

            </div>




            @*THIRD BIKE RACK*@
            <div class="col">
                @Html.LabelFor(model => model.IsActive_Bike_Rack_3)
                <div class="btn">
                    @if (Model.IsActive_Bike_Rack_3 == true)
                    {
                        <span class="btn-danger" style="font-size:20px; padding:5px; border-radius: 10px;">
                            <text>Occupied</text>
                        </span>
                    }
                    else
                    {
                        <span class="btn btn-success" style="font-size:20px; border-radius: 10px;">
                            <text>Unoccupied</text>
                        </span>
                    }
                </div>

            </div>


        </div>
    </div>
</div>








